*{
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body{
  height: 100vh;
  color: white;
  background-color: black;
}

header{
  display: flex;
  justify-content: center;
}

main{
  display: block;
  justify-items: center;
  margin-top: 8rem;
}

.div1{
  margin: auto;
  width: 150px;
  height: 150px;
  background-color: #333;
  border-radius: 10px;
  display: inline-block;
  margin: 1rem;
  text-align: center;
  padding-top: 1rem;
}

.btn-container{
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.btn{
  width: 250px;
  height: 30px;
  border-radius: 10px;
}

@media (min-width: 600px) and (max-width: 1024px) {
  h1{font-size: 1.5rem;}
  h2{font-size: 1.2rem;}

  main{
    margin-top: 4rem;
  }

  p{
    font-size: 14px;
  }

  .div1{
    width: 100px;
    height: 100px;
    padding-top: 0.5rem;
  }

  .btn{
    width: 200px;
    height: 40px;
  }
}

@media (min-width: 320px) and (max-width: 600px) {
  h1{font-size: 1.3rem;}
  h2{font-size: 0.9rem;}
  main{
    margin-top: 2rem;
  }

  .div1{
    width: 80px;
    height: 80px;
    padding-top: 0.3rem;
  }

  .btn{
    width: 150px;
    height: 50px;
    font-size: 12px;
  }
}
